* {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#container {
    display: flex;
    justify-content: center;

}

#calculadora {
    display: flex;
    justify-content: center;
    max-width: 500px;
}

#teclas {
    display: flex;
    
}

.botao {
    width: 100px;

}